In [1]:
#python script : a file that contains a set of instructions, or lines of code, that perform a specific task. it is a file with extension .py

# Variables


1.A Python variable creates a reserved memory location to store a value.
2. It is a name of a Memory Location.
3.A variable can be initialised by assigning some value to begin with

In [3]:
x = 5

In [5]:
a = 10
b = "hello Suyog"
c = 10.5
print(a,b,c)

10 hello Suyog 10.5

In [9]:
%whos #used to print all the variables in the memory

No variables match your requested type.

Rules.
1.Variable can start only with letter or an underscores.
2.cannot start with a number
3.can contain only alphanumeric character and underscores only (A to Z, a to z, 0 to 9,_).
4.Variable names are case-sensitive(age,AGE,Age are different).
5.A variable name cannot be a python keyword.

# Data Types

In [ ]:
1.Type of Data which a variable can Store

In [13]:
#Integer Data Type
a = 10
print(a)
print(type(a))

10
<class 'int'>

In [15]:
#float Data type
b = 23.4
print(b)
print(type(b))

23.4
<class 'float'>

In [17]:
#complex data type
c = 2+3j
print(c)
print(type(c))

(2+3j)
<class 'complex'>

 # Practise Questions

Imagine you're working on a customer management system, and you have the first name and last name of a customer stored as separate variables. You're developing a customer management system for a retail store in your database, you have the first name and last name of a customer stored as separate variables first_name "John" and ast name "Doe". How would you concatenate these strings to form the full name "John Doe" for the customer's profile

In [20]:
first_name = "John"
last_name = "Doe"
full_name = first_name+" "+last_name
print(full_name)

John Doe

You have a variable with a value 5 . how would you resign the variable value to 10.

In [24]:
x = 5 #assigning value to 5
print(x)
x = 10 #updating value to 10
print(x)

5
10

# Operators

In [4]:
#Arithmetic Operators : to perform Arithemetic operations.
# '+'Operator: '+"operator to perform addition.
a = 10
b = 20
print(a+b) 
c = "hello"
d = "Suyog"
print(c+" "+d)
# print(c+a) # can only concatenate str (not "int") to str

30
hello Suyog

In [41]:
# '-'Operator to perform subtraction operations
x = 20
y = 15
print(x-y)
z = 5+4j
w = 3+2j
print(z-w)

5
(2+2j)

In [45]:
#'*"operator used for multiplication operations
m = 5
n = 3
print(m*n)
str1 = "hello"
print(str1*3)

15
hellohellohello

In [3]:
#'/'operator used for division
e = 10.5
f = 2.6
print(e/f)

g = 3+4j
h = 2+3j
print(g/h)

4.038461538461538
(1.3846153846153848-0.07692307692307697j)

In [1]:
#'// floor division'
i = 5
j = 2
print(i//j)

2

In [51]:
#'%'operator for remainder
i = 5
j = 2
print(i%j)

1

In [53]:
#'**'Operator for power
k = 3
l = 2
print(k**l)

9

In [55]:
#Boolean Operator
a = True
b = False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

In [57]:
#Comparison Operator : Used to compare variable values.
a = 10
b = 20
print(a>b)
print(a<b)
print(a==b)
print(a!=b)
print(a>=b)
print(a<=b)

False
True
False
True
False
True

In [11]:
#Logical Operator
a = 10
b = 20
c = False
print(a and b)
print(a or b)
print(not c)

20
10
True

# Practise Questions

You have a data containing two record: "Quantity" and "Price per Unit". How would you use arithmetic operators to calculate the total cost for each item, also calculate the total cost? product 1, Quantity-5, Price per Unit Rs 250.  product 2, Quantity 25, Price per Unit Rs 656. product 3 Quantity 34, Price per Unit - Rs 274

In [74]:
first_item_price = 250
first_item_unit = 5
second_item_price = 656
second_item_unit = 25
third_item_price = 274
third_item_unit= 34
total_cost_first_item = first_item_price * first_item_unit
total_cost_second_item = second_item_price * second_item_unit
total_cost_third_item = third_item_price * third_item_unit
total_cost = total_cost_first_item + total_cost_second_item + total_cost_third_item
print(total_cost)

26966

In a finance-based organization, the task is to calculate the simple interest given the pr amount, interest rate, and time period. The interest rate is 8%, the principal amount is Rs 15,00,000 and the time period is 3 years. Calculate the simple interest. Also, the threshold amount is 1,20,000. Please check if the calculated interest is greater or less than the threshold amount

In [80]:
r = 8
p = 1500000
t = 3
threshold = 120000
simple_intrest = (p*r*t)/100
print("The simple intrest is rs ",simple_intrest)

The simple intrest is rs  360000.0

Write a program to calculate area of a circle with radius is 12 cm

In [82]:
r = 12
pi = 3.14
area = pi*r*r
print(area)

452.15999999999997

# Built in Functions

In [89]:
#float() function
num_int = 10
print(type(num_int))
a = float(num_int)
print(a)
print(type(a))

<class 'int'>
10.0
<class 'float'>

In [15]:
#int() function
a = 5.41
b = "10"
c = int(a)
d = int(b)
print(c)
print(type(c))
print(d)
print(type(d))

5
<class 'int'>
10
<class 'int'>

In [93]:
#str() function
a = 56
print(type(a))
b = str(a)
print(b)
print(type(b))

<class 'int'>
56
<class 'str'>

In [95]:
#complex() function
comp = complex(6,8)
print(comp)

(6+8j)

In [97]:
#abs() function
x = -23
print(abs(x))

23

In [99]:
#len() function
a = "hello"
print(len(a))

5

# practise Question

In a game application, the player's score is stored as a floating-point number. However, for leaderboard display, you need to convert the score to an integer. How would you use the int() function to convert the player's score from floating-point to integer format? pls solve this with code, player score 1234.56

In [102]:
score = 1234.56
integer_score = int(1234.56)
print(integer_score)

1234

In a customer relationship management (CRM) system for a retail company, you have a database containing customer records. How would you use the len() function to find the total number of customers in the database, allowing the company to track its customer base?

customer_database = [

(1, John Doe, john@example.com'),

(2, 'Jane Smith', 'jane@example.com'),

(3, 'Alice Johnson', 'alice@example.com'),
 ]

In [112]:
customer_database = [

(1, 'John Doe', 'john@example.com'),

(2, 'Jane Smith', 'jane@example.com'),

(3, 'Alice Johnson', 'alice@example.com'),
 ]
total_customers = len(customer_database)
print(total_customers)

3

You're developing a financial application that calculates simple interest. The principal amount is 250000 Rs, the interest rate is 9.34567%, and the time period is 3 years. Calculate the Simple Interest (SI), and the final value should be an integer.

In [114]:
p = 250000
r = 9.34567
t = 3
simple_intrest = int((p*r*t)/100)
print(simple_intrest)

70092

You are working at travel company, responsible for managing passenger Information. You're working at a travel company.

Due to a technical glitch in the booking systen, some passengers ages were mistakenly recorded as negative values. and it's essential to correct this data inconsistency values. However, , age cannot be negative,

before further analysis or reporting.

which function you will use to correct the ages of all passengers In the dataset shere negative ages were recorded dar to a to a teomical glitch?

abs() function be used to make the age values positive

In [ ]:
#Bin() Function:
used to convert an integer number to its binary represenatation as a string prefixed with '0b'.
it takes an integer as an argument and returns its binary representation

In [116]:
binary_rep = bin(10)
print(binary_rep)

0b1010

In [118]:
z = bin(200)
print(z)

0b11001000

In [ ]:
#Sum function:
Used to calculate the sum of elements in an iterable such as lists,tuples and other iterable objects.

In [122]:
my_list = [10,20,30,40,50]
a = sum(my_list)
print(a)

150

In [ ]:
#eval() function : evaluates a python expression stored in a string

In [126]:
exp = "5/2+3.5"
print(eval(exp))
print(type(exp))

6.0
<class 'str'>

In [ ]:
#help function : used to disply the documentation of modules , functions,classes,keywords.

In [128]:
help(print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

In [ ]:
#input function : we can get input from user about anything . Datatype of input() is String.

In [138]:
#get two numbers from the user and calculate there sum
first_no = int(input("First number: "))
second_no = int(input("Second number: "))

print(first_no + second_no)

First number:  10
Second number:  20

30

In [21]:
#write a python code for hostel students and ask them to mention them there course name and age . for 3 students and calculate there average age
student_1_course = input("first Student course name")
student_1_age = int(input("first student age"))
student_2_course = input("second student course")
student_2_age = int(input("second student age"))
student_3_course = input("third student course")
student_3_age = int(input("third student course"))
avg_age = (student_1_age + student_2_age + student_3_age)/3
print(avg_age)

first Student course name p
first student age 24
second student course c
second student age 25
third student course m
third student course 26

25.0

# As part of your role in a data-driven project, you need to take input from the user for their age, weight, and height. However, there's an Issue: the user has entered their age as a negative number. You need to correct the age of the user, and after correcting the age, calculate their Basal Metabolic Rate (w) using the Harris-Benedict equation for men. Ensure that the final answer of BMR is an integer.
# Basal Metabolic Rate (BMR): Formula (Harris-Benedict egbation for men): BMR = 88.763 + (13.397 weight in kg) + (4.799 height in cm)- (5.677 age in years)

In [5]:
age = int(input("Enter your age: "))
weight = int(input("Enter your weight: "))
height = float(input("Enter height: "))
correct_age = abs(age)
BMR = "88.763 + (13.397 * weight) + (4.799 * height) - (5.677 * age )"
bmr = eval(BMR)
print("The value of BMR of patient is",bmr)

Enter your age:  30
Enter your weight:  65
Enter height:  5.2

The value of BMR of patient is 814

In [ ]:
1. You are developing a program for a math competition where participants need to solve mathematical expressions and provide the result.
You want to use Python to automate the evaluation process. Here's how you could approach it:
1) Take Input from the participant to enter a mathematical expression
2) evaluate the expression entered by the participant and obtain the result.
3)Display the result to the participant.

In [1]:
expression = input("Enter the expression : ")
result = eval(expression)
print("result of the expression is: ",result)

Enter the expression :  2*5+4/3

result of the expression is:  11.333333333333334

In [ ]:
2. Suppose youre analyzing a dataset containing information about house prices in a city.
Each record includes details such as the house size (in square feet), number of bedrooms, and price.
You want to perform various calculations and manipulations on this dataset using Python. 
Answer the following questions:

1) Ask the user 1 & 2 to enter house size, number of rooms they want and Check the data type user has entered

2)Calculate the price of house, if per sq feet is Rs 5000.

3) Threshold price is 75 lakh Rs, which user is paying the price above threshold price.

In [3]:
user_1_house_size = float(input("Enter house size: "))
user_1_no_Of_Bedrooms = int(input("Enter no of Bedrooms: "))
user_2_house_size = float(input("Enter house size: "))
user_2_no_Of_Bedrooms = int(input("Enter no of Bedrooms: "))
price_user_1 = user_1_house_size * 5000
price_user_2 = user_2_house_size * 5000
print("The price of user_1 house is :",price_user_1)
print("The price of user_2 house is :",price_user_2)
threshold_price = 7500000
user1_threshold = price_user_1 >= threshold_price
user2_threshold = price_user_2 >=threshold_price
print(f"user one is paying above threshold",{user1_threshold})
print(f"user two is paying above threshold",{user2_threshold})

Enter house size:  1500
Enter no of Bedrooms:  3
Enter house size:  1800
Enter no of Bedrooms:  4

The price of user_1 house is : 7500000.0
The price of user_2 house is : 9000000.0
user one is paying above threshold {True}
user two is paying above threshold {True}

In [ ]:
3.You are working on a project to analyze stock market data.
Create variables to store the stock symbol, current price, and percentage change in price.
Then, calculate the new price after a 10% increase using arithmetic operators. 
Finally, prompt the user to enter their budget using the input() function, 
convert it to a float using the float() function, and compare it with the new price.

In [5]:
stock_symbol = "xyz"
current_price = 100
percentage_change = 10
new_price = current_price * 1.1      #10% increase
print(new_price)
budget = float(input("Enter your budget"))
a = budget >= new_price
print("Users budget is more:  ",a)

110.00000000000001

Enter your budget 500

Users budget is more:   True

In [ ]:
4. You are working on a project to analyze weather data.
Create variables to store the current temperature, the minimum temperature recorded, and the maximum temperature recorded.
Determine whether the current temperature is within the range of the minimum and maximum temperatures recorded using logical operators

In [7]:
current_temperature = 30
minimum_temperature = 25
maximum_temperature = 40
a = ((current_temperature >= minimum_temperature) and (current_temperature <= maximum_temperature))
print("Temperature is between minimum and maximum: ", a)

Temperature is between minimum and maximum:  True