In [1]:
#creation
my_dict = {"age":10,"name":"Suyog","Gender":"Male"}
print(my_dict)

{'age': 10, 'name': 'Suyog', 'Gender': 'Male'}

In [3]:
#dictionary with diff type dat
my_dict = {"age":10,
           "name":"Suyog",
           "is_student":True,
           "course":[]
          }
print(my_dict)

{'age': 10, 'name': 'Suyog', 'is_student': True, 'course': []}

In [5]:
#nested dictionary
my_dict = {"age":10,
           "name":"Suyog",
           "address":{
               "street":"main gate",
               "plot no": 49
           }
          }
print(my_dict)

{'age': 10, 'name': 'Suyog', 'address': {'street': 'main gate', 'plot no': 49}}

In [7]:
#empty dictionary
empty_dict = {}
print(empty_dict)
print(type(empty_dict))

{}
<class 'dict'>

In [13]:
#dictionary comprehension
squares = {x : x*x for x in range(6)}
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [11]:
#charecteristics of Dictionary
#Accessing Values
person = {"name":"Swati","age":30,"gender":"Male"}
print(person["name"])
print(person["age"])

Swati
30

In [17]:
#flexible key types
# #keys in dictionary must be unique . they can be of various data types,
# including strings ,integers , float,tuples(if they contain only hashable objects)

In [13]:
data = {'name':'john',
        123:'integer key',
        3.23:'float key',
        (1,2):'tuple key'
}
print(data)

{'name': 'john', 123: 'integer key', 3.23: 'float key', (1, 2): 'tuple key'}

In [15]:
#duplicates not allowed 
person = {"name":"Swati","age":30,"name":"Suyog"}
print(person)

{'name': 'Suyog', 'age': 30}

In [21]:
#membership testing
dict = {"name":"Swati","age":30,"name":"Suyog"}
print('name' in dict)
print('swati' in dict) # it checks only key not value

True
False

In [3]:
#nested dictionary
employees = {
    "emp1":{"name":"Suyog","age":25,"city":"Pune"},
    "emp2":{"name":"Swati","age":30,"city":"Mumbai"}
}
print(employees["emp1"])
print(employees["emp1"]["name"])

{'name': 'Suyog', 'age': 25, 'city': 'Pune'}
Suyog

In [ ]:
Create a dictionary book rating with the following data
'python programming':4.5
'Data science':4.8
'machine learning':4.2
check if python programming is in book rating 
print "found" if it exists 
Use a method to get all keys from book ratings and 
store them in a list titles and print the list titles.

In [31]:
books_rating = {
    'python programming':4.5,
    'Data science':4.8,
    'machine learning':4.2,
}
if 'python programming' in books_rating:
    print("Found")
else:
    print("Not found")

titles = list(books_rating.keys())
print(titles)

Found
['python programming', 'Data science', 'machine learning']

In [ ]:
Create a dictionary fruit stock with the following items:
'apple': 10
'banana': 15
'orange': 8
'grape': 20
Print each fruit along with its stock count in the format 

"Fruit": Stock" using a loop.

OUTPUT
Fruit: apple, Stock: 18
Fruit: banana, Stock: 15
Fruit: orange Stock: 8
Fruit: grape, Stock: 20

In [35]:
fruits = {
    'apple': 10,
    'banana': 15,
    'orange': 8,
    'grape': 20
}
for fruit in fruits:
    print("Fruit",fruit,"stock",fruits[fruit])

Fruit apple stock 10
Fruit banana stock 15
Fruit orange stock 8
Fruit grape stock 20

In [37]:
#length method
fruits = {
    'apple': 10,
    'banana': 15,
    'orange': 8,
    'grape': 20
}
print(len(fruits))

4

In [39]:
#get keys
a = {"name":"Suyog","age":20,"Country":"Indian"}
x = a.keys()
print(x)

dict_keys(['name', 'age', 'Country'])

In [41]:
#get values
a = {"name":"Suyog","age":20,"Country":"Indian"}
x = a.values()
print(x)

dict_values(['Suyog', 20, 'Indian'])

In [43]:
#change values 
a = {"name":"Suyog","age":20,"Country":"Indian"}
a["Country"] = "bharat"
print(a)

{'name': 'Suyog', 'age': 20, 'Country': 'bharat'}

In [47]:
#to add values in dictionary
a = {"name":"Suyog","age":20,"Country":"Indian"}
print(a)
a["city"] = "New Delhi"
a["location"] = "Sector 10"
print(a)

{'name': 'Suyog', 'age': 20, 'Country': 'Indian'}
{'name': 'Suyog', 'age': 20, 'Country': 'Indian', 'city': 'New Delhi', 'location': 'Sector 10'}

In [59]:
#update method
a = {"name":"Suyog","age":20,"Country":"Indian"}
print(a)
a.update({"Nickname" : "Gunu","city" : "Aurangabad"})
print(a)

{'name': 'Suyog', 'age': 20, 'Country': 'Indian'}
{'name': 'Suyog', 'age': 20, 'Country': 'Indian', 'Nickname': 'Gunu', 'city': 'Aurangabad'}

In [63]:
#pop method removes specific key:value pair.
a = {'name': 'Suyog', 'age': 20, 'Country': 'Indian', 'Nickname': 'Gunu', 'city': 'Aurangabad'}
print(a)
a.pop('age')
print(a)

{'name': 'Suyog', 'age': 20, 'Country': 'Indian', 'Nickname': 'Gunu', 'city': 'Aurangabad'}
{'name': 'Suyog', 'Country': 'Indian', 'Nickname': 'Gunu', 'city': 'Aurangabad'}

In [65]:
#delete method
a = {'name': 'Suyog', 'Country': 'Indian', 'Nickname': 'Gunu', 'city': 'Aurangabad'}
del a['Nickname'],a['city']
print(a)

{'name': 'Suyog', 'Country': 'Indian'}

In [71]:
#clear method empty the dictionary
a = {'name': 'Suyog', 'Country': 'Indian', 'Nickname': 'Gunu', 'city': 'Aurangabad'}
print(a)
a.clear()
print(a)

{'name': 'Suyog', 'Country': 'Indian', 'Nickname': 'Gunu', 'city': 'Aurangabad'}
{}

In [75]:
#to concatenate the dictionaries
dict1 = {1:1,2:2}
dict2 = {3:3,4:4}
dict3 = {5:5,6:6}
dict4 = {}
for d in (dict1,dict2,dict3):dict4.update(d)
print(dict4)

{1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6}

In [79]:
#print the dictionary where key are between 1 to 15 and values are squares of them
square_dict = {}
for num in range(1,16):
    square_dict[num] = num**2
print(square_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [81]:
#check whether the key is present in dictionary or not . 
dict = {1: 1, 2: 2, 3: 3, 4: 4, 5: 5, 6: 6}
def is_key_present(x):
    if x in dict:
        print("Present")
    else:
        print("Not present")

In [83]:
is_key_present(5)

Present

In [85]:
is_key_present(10)

Not present