In [1]:
mylist = ["a","b","c"]
print(mylist)
print(type(mylist))

['a', 'b', 'c']
<class 'list'>

# Properties of List

In [5]:
# Ordered
fruits = ["mango","cherry","Pineapple"]
print(fruits)
print(fruits[0])

['mango', 'cherry', 'Pineapple']
mango

In [7]:
#Heterogenous
mixed_list = [1,"hello",3.14,[1,2,3]]
print(mixed_list)

[1, 'hello', 3.14, [1, 2, 3]]

In [11]:
#Indexed
animals = ["cat","dog","bird","fish"]
print(animals[0])
print(animals[-1])

cat
fish

In [13]:
#slicing
numbers = [11,12,13,14,15]
print(numbers[1:4])

[12, 13, 14]

In [15]:
#omiting slicing
numbers = [11,12,13,14,15]
print(numbers[:4])
print(numbers[0:])

[11, 12, 13, 14]
[11, 12, 13, 14, 15]

In [17]:
#negative indexing
numbers = [11,12,13,14,15]
print(numbers[-5:])

[11, 12, 13, 14, 15]

In [19]:
#indexing with step 
numbers = [11,12,13,14,15]
print(numbers[::2])

[11, 13, 15]

In [ ]:
Given the list scores [55,89,76,65,93,50,72]
write a python expression to create a new list that contains the score above 70 only

In [41]:
List = [55,89,76,65,93,50,72]
new_list = []
for num in List:
     if num>70:
         new_list.append(num)
     else:
         pass
print(new_list)

[89, 76, 93, 72]

In [ ]:
List = [1,2,3,4,5,6,7,8,9,10]
write the python expression to get the sum of the first five elements and another expression to reverse the entire list

In [47]:
List = [1,2,3,4,5,6,7,8,9,10]
sum_first_five = sum(List[:5])
print("Sum of first five elements is : ",sum_first_five)

reverse = List[::-1]
print("Reverse list is :",reverse)

Sum of first five elements is :  15
Reverse list is : [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
Given the list 
List = [1,2,3,4,5,6,7,8,9,10]
write a python expression to create a new list with first half and second half swapped.
print the sum of the last three elements

input =[1,2,3,4,5,6,7,8,9,10]
output = [6,7,8,9,10,1,2,3,4,5]

In [65]:
List = [1,2,3,4,5,6,7,8,9,10]
new_list = List[-5:]
print(new_list)
new_list_2 = List[0:5]
print(new_list_2)
new_list = new_list + new_list_2
print(new_list)
sum_last_three = sum(new_list[-3:])
print(sum_last_three)

[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10, 1, 2, 3, 4, 5]
12

# Mutability property

In [67]:
#changing elements
my_list = [1,2,3,4,5]
my_list[2] = 10
print(my_list)

[1, 2, 10, 4, 5]

In [69]:
#changing elements
my_list = [1,2,3,4,5]
my_list[2] = "hello"
print(my_list)

[1, 2, 'hello', 4, 5]

In [71]:
#change a range of item values
my_list = [1,2,3,4,5,6,7,8,9,10]
my_list[2:5] = ["books","pen","Paper"]
print(my_list)

[1, 2, 'books', 'pen', 'Paper', 6, 7, 8, 9, 10]

In [73]:
#add list items
thislist = ["apple","banana","cheery"]
thislist.append("Orange")
print(thislist)

['apple', 'banana', 'cheery', 'Orange']

In [77]:
#remove the items 
a = [1,2,3,4,5,6,7,8]
a.remove(3)
print(a)

[1, 2, 4, 5, 6, 7, 8]

In [79]:
#Join the list
list1 = [1,2,3]
list2 = [4,5,6]
list3 = ["hello","suyog"]
print(list1+list2+list3)

[1, 2, 3, 4, 5, 6, 'hello', 'suyog']

In [83]:
#to check whether a element is in  list a element or not
list1 = [1,2,3,4,5,6,7] #'in' keyword used to check whether the element is present or not.
3 in list1

True

In [7]:
#reverse a list
a = [1,2,3,4,5,6,7,8]
a.reverse()
print(a)

[8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
Task : Data Cleaning
You have a list responses containing responses from a survey. However, 
some responses are recorded as empty strings due to data entry errors.
Your task is to remove these empty responses from the list.
Write Python code to remove all empty responses from the responses list

responses = ["Yes","","No","","Maybe","","","Yes","No"]

In [89]:
responses = ["Yes","","No","","Maybe","","","Yes","No"]
clean = []
for response in responses:
    if response!="":
        clean.append(response)
    else:
        pass
print(clean)

['Yes', 'No', 'Maybe', 'Yes', 'No']

In [ ]:
Data Analysis Scenario:
You have two lists containing exam scores of students from two different classes.
The lists are class1_scores and class2_scores.
You need to analyze the performance
of the classes by calculating the average score for each class.
Write Python code to calculate the average score for each class.

class1_scores = [85, 90, 88, 92, 78]
class2_scores = [75,82,80,85,89]

In [91]:
class1_scores = [85, 90, 88, 92, 78]
class2_scores = [75,82,80,85,89]
avg_score_1 = sum(class1_scores)/len(class1_scores)
avg_score_2 = sum(class2_scores)/len(class2_scores)
print("Class 1 avg score is :",avg_score_1)
print("Class 2 avg score is :",avg_score_2)

Class 1 avg score is : 86.6
Class 2 avg score is : 82.2

In [ ]:
Given to lists . 
list1 = [[1,2],[3,4],[5,6]]
list2 = [[7,8],[9,10]]
concatenate them into a single list

In [93]:
list1 = [[1,2],[3,4],[5,6]]
list2 = [[7,8],[9,10]]
list1 = list1 + list2
print(list1)

[[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]

In [ ]:
Given a list of senetences
["hello world!","python is awesome","I love coding"]
Join the sentence into a single string separated by newline characters

In [95]:
List = ["hello world!","python is awesome","I love coding"]
result = "\n".join(List)
print(result)

hello world!
python is awesome
I love coding

In [ ]:
Create a list named data values having values [10,20,30,40,50].
add the value 60 to the end of the list.
insert the value 5 at the begining of the list 
remove the value 30 from the list
print the modified list.

In [5]:
data_values = [10,20,30,40,50]
data_values.append(60)
print(data_values)
data_values.insert(0,5)
print(data_values)
data_values.remove(30)
print(data_values)

[10, 20, 30, 40, 50, 60]
[5, 10, 20, 30, 40, 50, 60]
[5, 10, 20, 40, 50, 60]

In [ ]:
You are managing student enrollments for a course and want to determine their enrollment status based on their course credits. 
Create a program that:
1) Asks the user to Input the number of students.
2) Asks the user to user to input the course credits for each student, storing then in a list
3) Determines the enrollment status for each student

"Full-time if course credits are greater than or equal to 12.
"Part-tine if course credits are less than 12.

4) Prints out the enrollment status for each sturent.

In [37]:
# Asking for the number of students
num_students = int(input("Enter the number of students: "))

# List to store the course credits
course_credits = []

# Input course credits for each student
for i in range(num_students):
    credits = int(input(f"Enter the credits for student {i+1}: "))
    course_credits.append(credits)

# List to store the enrollment status
enrollment_status = []

# Determine the enrollment status based on course credits
for credits in course_credits:
    if credits >= 12:
        enrollment_status.append("Full-time")
    else:
        enrollment_status.append("Part-time")

# Print out the enrollment status for each student
for i in range(num_students):  # Changed 'num' to 'i' for clarity
    print(f"Student {i+1}: {enrollment_status[i]}")

Enter the number of students:  3
Enter the credits for student 1:  10
Enter the credits for student 2:  11
Enter the credits for student 3:  12

Student 1: Part-time
Student 2: Part-time
Student 3: Full-time

In [ ]:
Age Group Classification
You are analyzing demographic data and want to classify people into different age groups. Create a program that:
Asks the user to input the number of people.
Asks the user to input the ages of each person, storing then in a list.
Classifies each person into one of the following
age groups: "Child" (age <18), "Adult" (18 <= age <  65), or "Senior" (age > 65).
Prints out the number of people in each age group.

In [55]:
number_of_people = int(input("Enter the number of students: "))
age = []
for i in range(number_of_people):
    people_age = int(input("Enter the ages of a person: "))
    age.append(people_age)
child_count = 0
adult_count = 0
senior_count = 0
for ages in age :
    if ages < 18:
        child_count+=1
    elif ages >=18 and ages <=65:
        adult_count+=1
    else:
        senior_count+=1
        
print("Children are : ",child_count)
print("Adult are : ",adult_count)
print("senior_count :",senior_count)

Enter the number of students:  5
Enter the ages of a person:  7
Enter the ages of a person:  16
Enter the ages of a person:  78
Enter the ages of a person:  90
Enter the ages of a person:  19

Children are :  2
Adult are :  1
senior_count : 2

In [1]:
List = [x for x in range(1,11)]
print(List)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
dict = {i:i**2 for i in range(1,11)}
print(dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [5]:
set = {x for x in range(1,11)}
print(set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [7]:
tup = (x for x in range(1,11))
print(tup)

<generator object <genexpr> at 0x132c9cc40>