In [1]:
#creation
my_set = {1,2,3,4}
print(my_set)
print(type(my_set))

{1, 2, 3, 4}
<class 'set'>

In [3]:
#using set() method
another_set = set([1,2,3,4])
print(another_set)
print(type(another_set))

{1, 2, 3, 4}
<class 'set'>

In [5]:
#empty set
empty_set = set()
print(empty_set)
print(type(empty_set))

set()
<class 'set'>

In [ ]:
#no indexing or slicing applicable

In [7]:
#unique elements
my_set = {10,12,13,10,14,10}
print(my_set)

{10, 12, 13, 14}

In [9]:
#iterable - we can
my_set = {10,12,13,10,14,10}
for element in my_set:
    print(element)

10
12
13
14

In [ ]:
#hashable elements - set cannot contains mutable types like Lists or dictionary.

In [11]:
#set treats 1 or True as same and 0 or False as same
my_set = {1,2,3,True,"a",(1,2,3)}
print(my_set)

{1, 2, 3, 'a', (1, 2, 3)}

In [ ]:
#nesting is not the property of set - we cannot add one set under another.

In [15]:
#check if item is present or not in set
a = {"data","is","new"}
print("data" in a) #in keyword used to check if there is a value or not

True

In [17]:
#length method
a = {"data","is","new"}
print(len(a))

3

In [19]:
#once a set is created you cannot change the item but you can add new items
a = {"a1","b1","c1",1,2,3}
a.add(10)
print(a)

{1, 2, 3, 10, 'a1', 'c1', 'b1'}

In [21]:
# update method - to combine two sets
a = {"a1","b1","c1",1,2,3}
b = {"data","is","new"}
a.update(b)
print(a)

{1, 2, 3, 'a1', 'data', 'c1', 'b1', 'is', 'new'}

In [23]:
#remove method - to remove items from the set 
a = {1, 2, 3, 'a1', 'data', 'c1', 'b1', 'is', 'new'}
a.remove("data")
print(a)

{1, 2, 3, 'a1', 'c1', 'b1', 'is', 'new'}

In [25]:
#pop method - to remove random element from set 
a = {1, 2, 3, 'a1', 'data', 'c1', 'b1', 'is', 'new'}
b = a.pop()
print(a)
print(b)

{2, 3, 'a1', 'data', 'c1', 'b1', 'is', 'new'}
1

In [27]:
# clear method - to empty the set 
a = {1, 2, 3, 'a1', 'data', 'c1', 'b1', 'is', 'new'}
a.clear()
print(a)

set()

In [31]:
#delete the set
a = {1, 2, 3, 'a1', 'data', 'c1', 'b1', 'is', 'new'}
del a

In [37]:
# to join to sets
a = {1, 2, 3, 'a1', 'data'}
b = {"hello","is"}
c = a.union(b)
print(c)

{1, 2, 3, 'hello', 'a1', 'data', 'is'}

In [39]:
#print max and min value in a set
a = {1,2,3,4,5,6}
print(max(a))
print(min(a))

6
1

In [47]:
#to find union of two sets
set1 = {1,2,3}
set2 = {4,5,6}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6}

In [49]:
# to find intersection of two sets
set1 = {1,2,3}
set2 = {3,5,6}
intersection_set = set1.intersection(set2)
print(intersection_set)

{3}

In [55]:
#difference method
set1 = {1,2,3}
set2 = {3,5,6}
diff = set1.difference(set2) # ignore common elements and print set1 elements
print(diff)

{1, 2}

In [59]:
set1 = {1,2,3}
set2 = {3,5,6}
diff = set2.difference(set1) # ignore common elements and print set2 elements
print(diff)

{5, 6}

In [ ]:
define two sets students passed math and students passed science containing student IDs who passed Math and Science respectively.
Write Python code to
1) Print the number of students who passed both Math and Science.
2) Print the student IDs who passed only Math
3) Print the student IDs who passed only Science
4) Determine if students passed math is a subset of students passed_science
5) Determine if students passed science is a superset of students passed_math

In [77]:
passed_math = {101,102,103,104,105}
passed_science = {103,104,105,106,107}
both_passed = passed_math.intersection(passed_science)
print("both passed are :",both_passed)
print("only Math passed are :",passed_math.difference(passed_science))
print("Science passed are :",passed_science.difference(passed_math))
# print(passed_math in passed_science)
print(passed_math.issubset(passed_science)) #issubset() used to check whether subset or not.
print(passed_science.issubset(passed_math)) #issuperset() used to check superset or not.

both passed are : {104, 105, 103}
only Math passed are : {101, 102}
Science passed are : {106, 107}
False
False