In [1]:
str = "Student"
print(str)
print(type(str))

Student
<class 'str'>

In [3]:
str1 = 'hello'
print(str1)
print(type(str1))

hello
<class 'str'>

In [5]:
#multiline Strings
str2 = '''Hello main jiyan,
          Main hoon bada takatvar,mera gala hai bohot surila,
          meri awaj sunke log hojate hai madhosh,main hoon jiyan'''
print(str2)

Hello main jiyan,
          Main hoon bada takatvar,mera gala hai bohot surila,
          meri awaj sunke log hojate hai madhosh,main hoon jiyan

# Indexing in Strings

In [20]:
a = "hello dear learners!"
print(a[1])
print(a[3])
print(a[5]) # space at this index
print(a[6])
print(a[-2])
print(a[-5])

e
l

d
s
n

In [24]:
b = "Data science is a growing field"
print(b[-1],b[-2],b[-3])

d l e

# Slicing in Strings

In [27]:
a = "I am learning data science."
print(a[0:4])

I am

In [29]:
a = "I am learning data science."
print(a[:])

I am learning data science.

In [33]:
a = "I am learning data science."
print(a[0:10:2]) #(start,end,jump)

Ia er

In [ ]:
#Negative Slicing

In [35]:
a = "I am learning data science."
print(a[-6:-1])

ience

In [37]:
a = "I am learning data science."
print(a[-16:])

ng data science.

In [39]:
a = "I am learning data science."
print(a[-10:-1:2])

asine

# Practise Questions

In [ ]:
Write a python function that takes a data string in the format "YYYY-MM-DD" and
returns a tuple containing the year, month and day as an integer. 
Example input - "2024-05-28"
Expected output - (2024,5,28).

In [56]:
def extract_date(date_string):
    year = int(date_string[0:4])
    month = int(date_string[5:7])
    day = int(date_string[8:])
    return (year,month,day)

In [58]:
extract_date("2024-05-28")

(2024, 5, 28)

In [ ]:
Write a python program to reverse the string.

In [60]:
str = "Honesty is the best policy."
print(str[::-1])

.ycilop tseb eht si ytsenoH

In [ ]:
Write a python function that takes a string as an input and returns
the substring from the 3rd to 8th character
#Data sciece
#Hello i'm learning python
#All the best

In [66]:
def substring(str):
    return str[3:9]

In [68]:
substring("Data Science")

'a Scie'

In [70]:
substring("Hello i'm learning python")

"lo i'm"

In [72]:
substring("All the best")

' the b'

# String methods

In [75]:
s = "Theiscale"
print(len(s))

9

In [77]:
s = " "
len(s)

1

In [ ]:
# Strings with special Symbols

In [79]:
s = "hello\nWorld"
print(s)
print(len(s))

hello
World
11

In [81]:
s = "hello@nWorld"
print(s)
print(len(s))

hello@nWorld
12

In [83]:
s = '''hello
World'''
print(s)
print(len(s))

hello
World
11

In [85]:
#upper() method
s = "hello"
print(s.upper())

HELLO

In [87]:
#lower() method
s = "HELLO"
print(s.lower())

hello

# String Concatenation

In [90]:
a = "hello"
b = "world"
print(a+b)

helloworld

In [94]:
a = "data"
print(a*5)

datadatadatadatadata

# replace method - to replace a String with other string

In [98]:
text = ("hello world, I am learning python")
print(text.replace("python","Data Science"))

hello world, I am learning Data Science

# index Method

In [102]:
a = "I want to learn python"
print(a.index("to"))

7

# find method

In [104]:
a = "Python is great"
print(a.find("g"))

10

In [ ]:
Write a Python program that accomplishes the following tasks:

1) Concatenate the strings "hello" and "world".

2) Find the length of the resulting string from the concatenation. 3) Extract the substring "world" from the concatenated string.

4) Reverse the substring obtained in the previous step.

5) Convert the reversed substring to uppercase.

6) Replate the letter "L' with 'x in the reversed and uppercase substring.

In [130]:
a = "hello"
b = "world"
res = a+b
print(res)
print(len(res))
print(res[5:])
b = b[::-1]
print(b)
b = b.upper()
print(b)
print(b.replace('L','x'))

helloworld
10
world
dlrow
DLROW
DxROW