In [1]:
a = (10,20,30)
print(a)
print(type(a))

(10, 20, 30)
<class 'tuple'>

In [3]:
#empty tuple
a = ()
print(type(a))

<class 'tuple'>

In [9]:
#tuple with single element
a = (1,) # tuple
b = (1) #integer
print(type(a))
print(type(b))

<class 'tuple'>
<class 'int'>

In [11]:
mixed_tuple = (1,"hello",True)
print(mixed_tuple)
print(type(mixed_tuple))

(1, 'hello', True)
<class 'tuple'>

In [13]:
#nested tuples
a = ("hello",3.2,(1,2,3))
print(a)
print(type(a))

('hello', 3.2, (1, 2, 3))
<class 'tuple'>

In [19]:
#tuple constructor to create empty tuple.
empty = tuple() #tuple constructor
print(empty)
print(type(empty))

()
<class 'tuple'>

In [71]:
#converting a list into a tuple
List = [1,2,3,4]
number = tuple(list)
print(number)
print(type(number))

(1, 2, 3, 4)
<class 'tuple'>

In [21]:
#string to tuple
str = "hello"
tuple1 = tuple(str)
print(tuple1)
print(type(tuple1))

('h', 'e', 'l', 'l', 'o')
<class 'tuple'>

In [27]:
#dictionary to tuple
dict = {'a':1,'b':2,'c':3}
print(dict)
print(type(dict))
tup = tuple(dict)
print(tup)
print(type(tup))

{'a': 1, 'b': 2, 'c': 3}
<class 'dict'>
('a', 'b', 'c')
<class 'tuple'>

In [31]:
#set to tuple
set = {1,2,3,4}
print(set)
print(type(set))
tup = tuple(set)
print(tup)
print(type(tup))

{1, 2, 3, 4}
<class 'set'>
(1, 2, 3, 4)
<class 'tuple'>

In [33]:
#indexing
tup = ("apple","banana","cheery","Mango")
print(tup[1])

banana

In [35]:
#negative indexing
tup = ("apple","banana","cheery","Mango")
print(tup[-1])

Mango

In [41]:
#slicing positive indexing
tup = ('a','b','c','d','e')
print(tup[1:4])
print(tup[:])
print(tup[::2])

('b', 'c', 'd')
('a', 'b', 'c', 'd', 'e')
('a', 'c', 'e')

In [143]:
#slicing negative indexing
tup = ('a','b','c','d','e')
print(tup[:-3])
print(tup[-3:])

('a', 'b')
('c', 'd', 'e')

In [49]:
#reversing the tuple
tup = ("apple","banana","cheery","Mango")
print(tup[::-1])

('Mango', 'cheery', 'banana', 'apple')

In [51]:
tup = (1,2,3,4,5,6,7,8)
print(tup[::])

(1, 2, 3, 4, 5, 6, 7, 8)

In [53]:
#to count occurence of elements
a = (12,14,15,12,13)
print(a.count(12))

2

In [55]:
#index() to find first occurence of an element
a = (12,14,15,12,15,13)
print(a.index(15))

2

In [77]:
del list  # Remove the redefinition

In [83]:
tup = ("Data","is","the","new","oil")
print(tup)
print(type(tup))
List = list(tup)
print(List)
print(type(List))

('Data', 'is', 'the', 'new', 'oil')
<class 'tuple'>
['Data', 'is', 'the', 'new', 'oil']
<class 'list'>

In [93]:
#add  items - by changing tuple into list and then adding items. directly we can't.
tup = (1,2,3)
List = list(tup)
print(List)
List.append(4)
print(List)
tup = tuple(List)
print(tup)
print(type(tup))

[1, 2, 3]
[1, 2, 3, 4]
(1, 2, 3, 4)
<class 'tuple'>

In [97]:
#adding tuple into a tuple 
tup1 = (1,2,3)
tup2 = ("Data","is","the","new","oil")
tup1+=tup2
print(tup1)

(1, 2, 3, 'Data', 'is', 'the', 'new', 'oil')

In [107]:
#remove items from tuple - by changing tuple into list and then remove items. directly we can't.
tup = ("Data","is","the","new","oil")
List = list(tup)
List.remove("the") #Removing from the list.
print(List)
tup = tuple(List) #converting it to a tuple
print(tup)

['Data', 'is', 'new', 'oil']
('Data', 'is', 'new', 'oil')

In [109]:
#changing the item into a tuple - by changing tuple into list and then change items. directly we can't.
tup = ("Data","is","the","new","oil")
List = list(tup)
List[2] = "a"
tup = tuple(List)
print(tup)

('Data', 'is', 'a', 'new', 'oil')

In [139]:
tup = (1,2,3) # deletes the tuple
del tup
#print(tup)

In [141]:
#multiplying tuple
tup = ("Data","is","the","new","oil")
tup = tup*2
print(tup)

('Data', 'is', 'the', 'new', 'oil', 'Data', 'is', 'the', 'new', 'oil')